#about {
  padding-top: 4rem;
}

.img-background {
  width: 295px;
  height: 295px;
  background-color: #b6aad7;
  position: absolute;
  z-index: -1;
  top: -5px;
  right: -20px;
  transform: rotate(-10deg);
}

#about img,
.img-background {
  border-radius: 100% 65% 100% 37% / 69% 100% 56% 27%;
}

.img-container {
  position: relative;
}

#about img {
  width: 250px;
  object-fit: cover;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.img-background,
.about-content,
.modal {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.163);
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #b6aad7;
  width: 300px;
  padding: 1rem;
  border-radius: 50px;
}

.about-content h1 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.about-content p {
  margin: 0;
}

.background {
  display: none;
}

.more-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.95rem;
  width: 130px;
  height: 40px;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.more-btn:hover {
  border: 2px solid #443f53;
  color: #443f53;
}

.modal {
  position: absolute;
  top: 4rem;
  background-color: #b6aad7;
  max-width: 400px;
  padding: 0 1rem;
  letter-spacing: 0.5px;
  border: 1px solid white;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-out;
  filter: blur(4px);
  transform: scale(0.33);
}
.modal h1 {
  text-align: center;
}

.show {
  opacity: 1;
  visibility: visible;
  filter: blur(0);
  transform: scale(1);
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.skills {
  margin-top: 2rem;
}

.skills p {
  font-weight: 600;
}
