#contact {
  margin-top: 8rem;
  margin-bottom: 6rem;
  text-align: center;
}

#contact h1 {
  color: white;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contact-link {
  color: #b6aad7;
  background-color: #443f53;
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.163);
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

.contact-link:hover {
  color: #443f53;
  background-color: #b6aad7;
  border: 2px solid #443f53;
}

.icon {
  color: white;
}
