.navbar {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.774);
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.active {
  border-bottom: 2px solid #b6aad7;
  font-weight: 600;
}
