#projects img {
  width: 100%;
  object-fit: cover;
}

#projects a {
  text-decoration: none;
  color: black;
}

#projects h1 {
  color: white;
  font-weight: 500;
  text-align: center;
  margin-top: 4rem;
}

#projects h2 {
  font-size: 1.3rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

#projects img,
.card-container a {
  border-radius: 5px;
}

.card-container a {
  width: 300px;
  background-color: #b6aad7;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.163);
}

.article div {
  padding: 0 0.5rem;
}

.card-container a {
  transition: transform 0.2s;
}

.card-container a:hover {
  transform: scale(1.04);
}

.card-container h2 {
  margin-top: 0.5rem;
  text-transform: capitalize;
}
