@import url(-about.css);
@import url(-projects.css);
@import url(-contact.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  display: block;
  font-family: "Raleway", sans-serif;
  background-color: #abb0b5;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.774);
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.chevron {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: white;
  border-top: 2px solid rgba(255, 255, 255, 0.477);
  padding: 2rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.active {
  border-bottom: 2px solid #b6aad7;
  font-weight: 600;
}
