@import url(-about.css);
@import url(-projects.css);
@import url(-contact.css);
@import url(-header.css);

@import url(-media.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  margin-top: 1rem;
  display: block;
  font-family: "Raleway", sans-serif;
  background-color: #abb0b5;
  scroll-behavior: smooth;
}

.chevron {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.chevron:hover {
  transform: scale(1.2);
}

.chevron-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: white;
  border-top: 2px solid rgba(255, 255, 255, 0.477);
  padding: 2rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

#projects h1,
#contact h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
